
html {
}

body { 
	font-size: 16px; 
}

.background {
	background-color: rgba(255,248,230,1);
	background-image: url('../images/beige-paper.png');
	font-family: 'Montserrat', sans-serif;
	display: block;
	position: absolute;
	overflow: scroll;
	width: 100%;
	height: 100%;
	background-color: rgba(255,248,230,1);
	background-image: url('../images/beige-paper.png');
}


.layer.yellow .box a {
	color: rgba(204,255,21,1);
	text-decoration: underline;
}

.layer.coral .box a {
	color: rgba(255,142,145,1);
	text-decoration: underline;

}

.underline,
.box a {
	text-decoration: underline;
}

.layer.coral .box a:hover,
.layer.yellow .box a:hover,
.box a:hover {
	text-decoration: none;
	color: #fffff;
}

.layer {
	height: 100%;
	left: 0;
	/*position: absolute;*/
	top: 0;
	width: 100%;
	mix-blend-mode:multiply;
	transform: translateZ(0);
}

.layer.yellow {
	position: absolute;
	top: 0;

	z-index: 1;
}

.bg-coral .inside  {
	background-color: rgba(255,142,145,1);
/*	background-image: url('../images/beige-paper_2.png');
*/}

.bg-yellow .inside  {
	background-color: rgba(204,255,21,1);
}

.bg-paper .inside {
/*	background-color: rgba(251,248,230,1);
	background-image: url('../images/beige-paper.png');*/
}

.bg-white {
	background-color: rgb(255,255,255,1);
}

.text-coral {
	color: rgba(255,142,145,1);
}

.text-coral svg {
	/*	fill: rgba(255,142,145,1); */
	fill: #FFFFFF;
}

.about.text-coral  svg {
	fill: rgba(255,142,145,1);
}

.text-paper {
	color: rgba(251,248,230,1);
}

.text-yellow {
	color: rgba(204,255,21,1);
}


.text-transparent {
	color: transparent;
}

.text-yellow svg {
	fill: rgba(204,255,21,1);
}

/*.text-stroke {
	-webkit-text-stroke: 1px rgba(204,142,12,1);
	text-stroke: 1px rgba(204,142,12,1);
}

.text-stroke svg {
	stroke: rgba(204,142,12,1);
}*/
.layer.coral .text-stroke {
	-webkit-text-stroke: 3px rgba(255,142,145,1);
	text-stroke: 3px rgba(255,142,145,1);
}

.layer.coral .text-stroke svg {
	stroke: rgba(255,142,145,1);
}

.layer.yellow .text-stroke {
	-webkit-text-stroke: 3px rgba(204,255,21,1);
	text-stroke: 3px rgba(204,255,21,1);
}

.layer.yellow .text-stroke svg {
	stroke: rgba(204,255,21,1);
}

.layer.yellow .text-stroke.small-stroke {
	-webkit-text-stroke: 1px rgba(204,255,21,1);
	text-stroke: 1px rgba(204,255,21,1);
}

.no-stroke {
	-webkit-text-stroke: 0;
	text-stroke: 0;
}


.schedule .inside div,
.schedule .inside h2  { 
	display: block;
	margin-bottom: 2rem; 
}

.photo {
	background-size: cover;
	background-position: center center;
	background-blend-mode: multiply;
	display: block;
	width: auto;
	padding-top: 64%;
	margin-top: 1rem;
	margin-bottom: 2rem;

}


.layer.coral .photo {



}

.box {
/*	background-color: rgba(251,248,230,1);
	background-image: url('../images/beige-paper.png');*/
	background-color: #fff;
 	text-align: center;
 	font-weight: 700;
 	letter-spacing: 2px;
 	margin: 1rem auto;
 	padding: 10px;
}

.layer.yellow .box {
	background-color: #fff;
	background-image: none;
}


.box .inside {
	padding: 1.5rem 1.5rem .5rem 1.5rem;
}

.box.logo .inside {
	padding: 3rem;

}

.box:before, .box:after {
  position: absolute;
  content: '';
  border: solid rgba(204,142,12,1);
  z-index: -1;
}

.layer.coral .box:before, .layer.coral .box:after {
  border: solid rgba(255,142,145,1);
  z-index:-1;
}

.layer.yellow .box:before, .layer.yellow .box:after {
  border: solid rgba(204,255,21,1);
}


.box:before,
.layer.coral .box:before,
.layer.yellow .box:before {
  top: -24px; bottom: -24px;
  left: 24px; right: 24px;
  border-width: 0 2px;
}

.box:after,
.layer.coral .box:after,
.layer.yellow .box:after {
  left: -24px; right: -24px;
  top: 24px; bottom: 24px;
  border-width: 2px 0;
  display: none;
}

.flag {
	margin: 3rem auto 2rem auto;
}

svg {
	overflow: visible !important;
}

p {
	margin: 0 0 1rem 0;
}

p span.small {
	font-size: .875rem;
}

span.no-wrap {
	white-space: nowrap;
}

@media (min-width: 576px) { 
	.box:after,
	.layer.coral .box:after,
	.layer.yellow .box:after {
		display: block;
	}
}

@media (min-width: 768px) { 
	body {font-size: 18px;}
 }
